{% extends 'nevbar.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block body %}
<section class="success-section">
    <div class="success-container">
        <h1>Thank You, {{ name }}!</h1>
        <p>Your query has been successfully submitted. We will get back to you soon!</p>
        <a href="/" class="home-btn">Return to Home</a>
    </div>
</section>
{% endblock %}
