{% extends 'nevbar.html' %}

{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/disasterlist.css' %}">
    
{% endblock %}
{% block body %}
    <section class="disaster-list">
        <h2>Recent Disasters</h2>
        <ul>
            {% for disaster in disasters %}
                <li>
                    <a href="{% url 'disasterdetail' %}?disaster_type={{ disaster.type }}&disaster_location={{ disaster.location }}">View Disaster Details</a>
                        <h3>{{ disaster.type }} - {{ disaster.location }}</h3>
                    </a>
                </li>
            {% empty %}
                <p>No disasters available.</p>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
