body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #82c1ff6c;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disaster-title {
  font-size: 2rem;
  color: #d9534f;
  margin-bottom: 10px;
}

.disaster-details {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}

.see-map {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.see-map:hover {
  background-color: #0056b3;
}